.list {
  margin: 0;
  overflow: auto;
  padding: 0;
  li {
    list-style-type: none;
  }
}

.station-list {
  height: calc(100% - 56px);
  &__item {
    background: #000;
    box-shadow: inset -2px -2px 15px #ffffff63;
    padding: 30px 25px;
    .item {
      &__button {
        background: transparent;
        border: none;
        padding: 10px;
        text-align: left;
        width: 100%;
      }
    }
  }
}

.schedule__list {
  height: calc(100% - 56px);
  .list__item {
    align-items: center;
    display: flex;
    padding: 20px;
    .item {
      &__time {
        flex: 1;
        font-size: 1.8rem;
      }
      &__track {
        flex: 1;
        font-size: 1.6rem;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .schedule__list {
    .list__item {
      align-items: center;
      display: flex;
      padding: 10px;
      .item {
        &__time {
          flex: 1;
          font-size: 1.5rem;
        }
        &__track {
          flex: 1;
          font-size: 1.1rem;
        }
      }
    }
  }
}
